<script src="../public/js/app.js" type="text/javascript" defer></script>
<div class="header">

	<div class= "titre">
    <h2 id="titre-head">MIRA </h2>
    <h2 id="titre-head2"> HOME </h2>
	</div>
	
	<div class="menu">
		
    	<h3 class= "link"><a href="invite.html">Accueil </a></h3>
    	<h3 class= "link"><a href="plaques.html">Mes Plaques</a></h3>
    	<h3 class= "link"><a href="personal.html">Mes Invités</a></h3>
    	<h3 class= "link"><a href="resume.html">Mon resumé</a></h3>
    	
	</div>
	<div class="m-nav-toggle">
		<span class="m-toggle-icons"></span>
	</div>
</div>
