:root {
    --dark-plaque: #98AAFF;
    --light-plaque: #A8B7FF;
    --light-historique: #FFA0A3;
    --dark-historique: #FF8386;
    --light-resume: #303A60;
    --dark-resume: #262E4D;
    --background: #EBEEFB;
}