<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Balise de métadonnées -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Titre de la page -->
    <title>Homepage</title>

    <!-- Fichiers de style nécessaires à toutes les pages -->
    <link rel="stylesheet" href="../public/stylesheets/css/fonts.css">    
    <link rel="stylesheet" href="../public/stylesheets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/header.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


    <!-- Fichier de style relative à cette page -->
    <link rel="stylesheet" href="../public/stylesheets/css/homepage.css">

    <!-- Librairie JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" defer></script>
    <script src="../public/js/setup.js" type="text/javascript" defer></script>
</head>

 <header class="header-homepage">
           <div class= "titre">
             <h2 id="titre-head">MIRA </h2>
             <h2 id="titre-head2"> HOME </h2>
             </div>
            <div class="menu">
            <a href="login.html"> <h3 id="connect">  Se connecter </h3> </a>
            </div>
    </header>
 <boby>
    <div id="homepage-container">
      <div id="hpc-title">
        <svg id="homepage-title" viewbox="0 0 20 5">
          <text font-size="8" x="0.5" y="5" dx="0" dy="0" id="homepage-title-main">HOME</text>
          <text font-size="4" x="5.5" y="5" dx="0" dy="0" id="homepage-title-sub">MIRA</text>
        </svg>
      </div>
      <div id="hpc-description">
        <span id="homepage-description">
          Filtrer l'accès à votre garage en toute sécurité
        </span>
      </div>
      <div id="hpc-button">
        <a href="login.html"id="homepage-button-enter">
          <span class="homepage-button-text">ENTRER</span>
          <span class="homepage-button-text">→</span>
        </a>
      </div>
    </div>
  </boby>
</html>