<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invite</title>

    <!-- Fichiers de style nécessaires à toutes les pages -->
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/fonts.css">    
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/header.css">

    <!-- Fichier de style relative à cette page -->
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/invite.css">

    <!-- Librairie JS -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" defer></script>
    <script src="../public/js/setup.js" type="text/javascript" defer></script>
    <script src="../public/js/ajax.js" type="text/javascript" defer></script>
    <script src="../public/js/authentication.js" type="text/javascript" defer></script>
    <script src="../public/js/acceuil.js" type="text/javascript" defer></script>
</head>
<body>
<!-- test -->
    <section id="header"></section>
    <section class="main">
        <div class="centrale">
            <div class="haut">
                <a href="plaques.html" class="gauche">
                    <h1 class="tg">MES</h1>
                    <h1 class="tg bot">PLAQUES</h1>
                </a>
                <a href="personal.html" class="droite">
                    <h1 class="td top">MES</h1>
                    <h1 class="td">INVITÉS</h1>
                </a>

            </div>
            <a href="resume.html" class="bas">
                <div class="centre">
                    <h1>MON RÉSUMÉ</h1>
                </div>
            </a>
        </div>
    </section>
</body>
</html>
