<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Balise de métadonnées -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Titre de la page -->
    <title>Login Page</title>

    <!-- Fichiers de style nécessaires à toutes les pages -->
    <link rel="stylesheet" href="../public/stylesheets/css/fonts.css">    
    <link rel="stylesheet" href="../public/stylesheets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/header.css">
    <script type="text/javascript" src="../public/js/authentication.js" defer></script>
    <script type="text/javascript" src="../public/js/ajax.js" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">



    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!-- Fichier de style relative à cette page -->
    <link rel="stylesheet" href="../public/stylesheets/css/login.css">

    <!-- Librairie JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

    <script src="../public/js/setup.js" type="text/javascript" defer></script>

</head>
  
     <header class="header-homepage">
           <div class= "titre">
             <h2 id="titre-head">MIRA </h2>
             <h2 id="titre-head2"> HOME </h2>
             </div>
            <div class="menu">
            <a href="login.html"> 
            <h3 id="connect">  Se connecter </h3> 
            </a>
            </div>
    </header>
    <body>

         
            <!-- zone de connexion -->
            
            <form>
                <div class="block">
                    <h1 class="titre1">CONNECTEZ-</h1>
                    <h1 class="titre2">VOUS</h1>
                    <p class="ltitle">Bienvenue sur Mira Home</h2>
                
                    <input type="email" class ="id" id="login" placeholder="Identifiant" name="mail" autofocus required><br>

                    <input type="password" class="pass" id="password" placeholder="Mot de passe" name="password" autofocus required><br><br>

                    <input type="submit"  class="in" id="authentication-send" value="ENTRER">
                </div>
            
            </form>
        
    </body>


