<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Invités</title>

    <!-- Fichiers de style nécessaires à toutes les pages -->
    <<link rel="stylesheet" type="text/css" href="../public/stylesheets/css/fonts.css">    
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
 



    <!-- Fichier de style relative à cette page -->
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/personal.css">

    <!-- Librairie JS -->
    
   
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="../public/js/setup.js" type="text/javascript" defer></script>
    <script src="../public/js/ajax.js" type="text/javascript" defer></script>
    <script src="../public/js/invite.js" type="text/javascript" defer></script>
    <script src="../public/js/addprofil.js" type="text/javascript" defer></script>


</head>
<body>
<!-- test -->
    <section id="header"></section>

    <button id="titre"> EN COURS </button>
<div id="cells">
<div class="gallery js-flickity">
</div>
</div>
</body>