<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Plaques</title>

   <!-- Fichiers de style nécessaires à toutes les pages -->
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/fonts.css">    
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
 



    <!-- Fichier de style relative à cette page -->
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/plaques.css">

    <!-- Librairie JS -->
    
   
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="../public/js/setup.js" type="text/javascript" defer></script>
    <script src="../public/js/ajax.js" type="text/javascript" defer></script>
    <script src="../public/js/plaque.js" type="text/javascript" defer></script>
    <script src="../public/js/addprofil.js" type="text/javascript" defer></script>



</head>
<body>
<!-- test -->
    <section id="header"></section>


<!-- Flickity HTML init -->

<h1 id="titre"> Mes plaques </h1>
<div id="cells">
<div class="gallery js-flickity">
</div>
</div>
</div>


<!-- <div id="cells">

    <div class="main-carousel"></div>

</div>
</div> -->

<button class="open-button" onclick="openForm()">ajouter un invite</button>

<div class="form-popup" id="myForm">
  <form class="form-container">
    <h1 id="title">AJOUTER UNE NOUVELLE PLAQUE</h1>

   
    <input class="npn" type="text" placeholder="NOM"  id="nom" required>

    <input  class="npn" type="text" placeholder="PRENOM" id="prenom" required>

    <input  class="npn" type="text" placeholder="NUMERO DE PLAQUE" id="plaques" required>

    <input  class="npn" type="text" placeholder="URL" id="photo" required>

    <button type="submit" id="adduser" class="btn">ajouter</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

</body>